# --- CẤU HÌNH CHO FRONTEND ---
# 1. Chặn tất cả mọi thứ bên trong folder frontend
frontend/*

# 2. Dùng dấu ! để giữ lại những thứ cần thiết trong frontend
!frontend/lib/
!frontend/assets/
!frontend/pubspec.yaml
# Nên giữ thêm file lock để đồng bộ version thư viện
!frontend/pubspec.lock 


# Nếu backend là Python/Django:
backend/__pycache__/
backend/*.pyc
backend/venv/
backend/.env


# --- CÁC FILE HỆ THỐNG CHUNG ---
.DS_Store
.idea/
.vscode/