services:
  db:
    image: postgres:15-alpine
    container_name: smart_home_db
    
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: smart_home_redis
    # ports:
    #   - "6379:6379"

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: smart_home_backend
    
    volumes:
      - .:/app
    ports:
      - "8005:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    environment:
      - DB_HOST=db
      - REDIS_HOST=redis

volumes:
  postgres_data: